.LoginPage2 {
  width: 280px;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 770px) {
  .LoginPage2 {
    width: 300px;
    align-items: center;
    margin-left: 41%;
    margin-right: auto;
    margin-top: 20px;
  }

  .name {
    margin-top: 50px;
  }
}
